body{
  font-family: 'Rubik', sans-serif;
  background-image: url(https://assets0.ello.co/uploads/user/cover_image/338395/ello-optimized-c2af294b.jpg);
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex:1;
  text-align: right;
  background-color: gray;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
}

.Introduction{
  text-align: center;
}

.menu{
  text-align: center;
}

.btn{
  display: inline-block;
   background: #ff523b;
   color: #fff;
   padding: 8px 30px;
   margin-top: 30px;
   border-radius: 30px;
   transition: background 0.5s;
}

.explaining{
  margin: 40px;
}

.introduction{
  margin: 30px;
}

/*---footer---*/

.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 15px;
  padding: 60px 0 20px;
  margin-top: 100px;
}

.footer p{
  color:#8a8a8a;
  margin-right: 30px;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}

/*--menu--*/

.body1{
  background-image: url(https://oboi.ws/wallpapers/23_8575_oboi_temnyj_fon_960x800.jpg);
}

.btn1{
  display: inline-block;
   background: black;
   color: #fff;
   padding: 8px 15px;
   margin-top: 15px;
   border-radius: 15px;
   transition: background 0.5s;
}

img{
  width: 200px;
  height: 150px;
}

/*---contact----*/
.contact-details{
  font-family: 'Rubik', sans-serif;
  margin: 30px;
  padding: 20px;
}

hr{
  border-style: dotted none none;
    border-width: 5px;
    border-color: #351f39;
    height: 5px;
    width: 70%;
}

/*---aboutus---*/

.body-about{
  background-image: url(https://pbs.twimg.com/media/EM4AFiTWsAAjnhB.jpg);
}

.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex-basis: 1;
  text-align: center;
}
.footer-col-3{
  flex-basis: 12%;
  text-align: center;
}
.ul{
  list-style-type: none;
}
